
.inputContainer {
  display: flex;
  justify-content: space-between;
  padding: .2em 0;
  font-size: 1.2em;
}
.value {
  /*width: 80em;*/
}
.header {
  font-size: 1.4em;
  text-align: center;
  background-color: var(--color-main);
  color: var(--color-secondary);
}
.input {
  width: 100%;
}

.label {
  width: 15em;
  float: left;
}
.personalInfo {
  max-width: 50em;
  margin: auto;
  break-inside: avoid;
}
.rentalHistory {
  max-width: 50em;
  margin: auto;
}
.rentalContainer {
  break-inside: avoid;
}
.employmentHistory {
  max-width: 50em;
  margin: auto;
}
.employmentContainer {
  break-inside: avoid;
}
.notes {
  max-width: 50em;
  margin: auto;
  break-inside: avoid;
}
.notesInput {
  margin:auto;
}
.controls {
  width: 80%;
  margin: auto;
}
.button {
  margin: .4em;
}

/*@media print {*/
/*  .pageBreak {*/
/*    margin-top: 1rem;*/
/*    display: block;*/
/*    page-break-before: auto;*/
/*  }*/
/*}*/