.header {
    padding: 0 0 1em 0;
    color: var(--color-main);
}
.logo {
    color: var(--color-secondary);
    background-color: var(--color-main);
}
.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.button {
    background-color: var(--color-secondary);
    color: var(--color-main);
}
.selected {
    text-decoration: underline;
}