.header {
    /*background-color: var(--color-accent);*/
    padding: 0 0 1em 0;
    color: var(--color-main);
}
.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.button {
    background-color: var(--color-accent);
    color: var(--color-main);
}
