.header {
    color: var(--color-main);
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.propertyTile {
    background-color: white;
    box-shadow: 0 0 6px 0 var(--color-main);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.propertyTile:hover {
    box-shadow: 0 0 10px 0 var(--color-main);
    cursor: pointer;
    opacity: .8;
}
.propertyTileImage {
    height: 200px;
    object-fit: cover;
}
.propertyAddress {
    color: var(--color-main);
}